<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arangilena |  </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="header-image" style=" background-image: url(/img/agrumeto-social-min.jpg);">
      <div class="color-overlay d-flex justify-content-center align-items-center">
        <h2> Arangilena | Si è verificato un errore </h2>
      </div>
      <div class="color-overlay d-flex justify-content-center align-items-md-end">
        <h3>Lavoriamo per la qualità</h3>
      </div>
      <div class="dropstart mx-2">
        <a id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/img/orange.png" style="height: 70px; width: 70px;">
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" th:href="@{/vetrina}">Vetrina</a></li>
            <li><a class="dropdown-item" href="#">Richiedi Assistenza</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="text-center">
        <h4 th:text="${messaggio}"></h4>
        <a th:href="@{/vetrina}" class="btn btn-outline-success">Home</a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>